body {
    background-color: #f8f9fa; /* Light gray background */
    font-family: Arial, sans-serif;
}

header {
    background-color: #0a0a4c !important;
    padding: 20px;
    text-align: center;
}

.navbar {
    background-color: #0a0a4c !important;
}

h1, h2 {
    font-family: 'Arial', sans-serif;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #0a0a4c !important;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.navbar-nav .nav-item .nav-link {
    color: white !important;
}

.list-group-item {
    border: none;
    background-color: #f8f9fa;
}

.btn-primary {
    background-color: #0a0a4c;
    border-color: #0a0a4c;
}

.btn-primary:hover {
    background-color: #08083b;
    border-color: #08083b;
}
